.homePageWrapper {
    background: #02072b;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f3a950;
    height: 100vh;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #050b38;
    padding: 20px;
    width: 400px;
    max-width: 90%;
    transition: all 1s;
}
.formWrapper:hover{
    border-radius: 4px;
    box-shadow: .01px .01px 30px 1px rgb(0, 0, 0);
}

.formWrapper img{
    width: 40%;
    height: 40%;
}

.copyRight{
    color: #f3a950;
}

footer {
    position: fixed;
    bottom: 0;
}

footer a {
    color: #f3a950;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainLabel {
    margin-bottom: 20px;
    margin-top: 0;
}

.homePageLogo {
    height: 80px;
    margin-bottom: 30px;
}

.inputBox {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-bottom: 14px;
    background: #eee;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}

.btn {
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.joinBtn,
.leaveBtn {
    background: #f3a950;
    width: 100px;
}

.joinBtn:hover,
.leaveBtn:hover {
    background: #eee;
    color: #472e00f8;
}

.createInfo {
    margin: 0 auto;
    margin-top: 20px;
}

.createNewBtn {
    color: #f3a950;
    text-decoration: none;
    border-bottom: 1px solid #f3a950;
    transition: all 0.3s ease-in-out;
}

footer a:hover {
    color: #eee;
    border-color: #eee;
}

.createNewBtn:hover {
    color: #eee;
    border-color: #eee;
}

.mainWrap {
    display: grid;
    grid-template-columns: 230px 1fr;
}

.aside {
    background: #02072b;
    padding: 16px;
    color: #fff;
    display: flex;
    flex-direction: column;
}
.asideInner {
    flex: 1;
}

.clientsList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.client {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}
.userName {
    margin-top: 10px;
}

.logo {
    width: 100%;
    border-bottom: 1px solid #424242;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around
}

.logoImage {
    width: auto;
    height: 60px;
}

.leaveBtn {
    width: 100%;
    margin-top: 20px;
}
.CodeMirror {
    min-height: calc(100vh - 20px);
    font-size: 20px;
    line-height: 1.6;
    padding-top: 20px;
}


@media (max-width: 400px) {
    .formWrapper{
        width: 70%;
    }
    .mainWrap {
        display:flex !important;
        flex-direction: column !important;
    }
    .copyBtn{
        margin-top: 1rem;
    }
}


@media (min-width: 768px) {  }


@media (min-width: 992px) {  }